@charset "UTF-8";
/* 分页公共样式 */
ul, li { list-style: none; }

.pagination-wrapper { height: 60px; line-height: 60px; }

.pagination-wrapper .page-sizes { float: left; font-size: 14px; }

.pagination-wrapper .pagination { -moz-user-select: none; /*火狐*/ -webkit-user-select: none; /*webkit浏览器*/ -ms-user-select: none; /*IE10*/ /*早期浏览器*/ user-select: none; float: right; font-size: 14px; line-height: 20px; }

.pagination-wrapper .pagination div { display: inline-block; padding: 5px 10px; border: 1px solid gray; }

.pagination-wrapper .pagination div:hover { background: #4099Bf; color: #fff; cursor: pointer; }

.pagination-wrapper .pagination ul { display: inline-block; padding: 0 10px; }

.pagination-wrapper .pagination ul li { padding: 5px 10px; border: 1px solid gray; display: inline-block; }

.pagination-wrapper .pagination ul li:hover { background: #4099Bf; color: #fff; cursor: pointer; }

.pagination-wrapper .pagination ul li:hover[isClick*="no"] { cursor: text; }

.pagination-wrapper .pagination ul li[active*="yes"] { background: #4099Bf; color: #fff; }

.pagination-wrapper .pagination input { padding: 5px 0; width: 50px; text-align: center; }
